<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<%# created this static page by entering in 'rails generate controller pages info'
in the terminal window -- hold information about the author of this application %>